<div id="maincontainer">

<mat-toolbar id="toolbar">

    <span>Edit Task</span>
    <span class="example-spacer"></span>
  
  </mat-toolbar>

<div>
    

    <form #addtaskform="ngForm" (ngSubmit)="submitForm(addtaskform.value)">
        <div>
            <label for="QuoteID">QuoteID</label>
            <input type="number" class="form-control" name="QuoteID" [ngModel]="QuoteID" required>
            <span class="text-danger" *ngIf="addtaskform.controls['QuoteID'].errors && addtaskform.controls['QuoteID'].touched"><br>Required</span>
        </div><br>
        <div>
            <label for="Quote_Type">Quote_Type</label>
            <input type="text" class="form-control" name="Quote_Type" [ngModel]="Quote_Type" required>
            <span class="text-danger" *ngIf="addtaskform.controls['Quote_Type'].errors && addtaskform.controls['Quote_Type'].touched"><br>Required</span>
        </div><br>
        <div>
            <label for="Contact">Contact</label>
            <input  type="text" class="form-control" name="Contact" [ngModel]="Contact" required>
            <span class="text-danger" *ngIf="addtaskform.controls['Contact'].errors && addtaskform.controls['Contact'].touched"><br>Required</span>
        </div><br>
        <div>
            <label for="Task_Desc">Task_Desc</label>
            <input  type="text" class="form-control" name="Task_Desc" [ngModel]="Task_Desc" required>
            <span class="text-danger" *ngIf="addtaskform.controls['Task_Desc'].errors && addtaskform.controls['Task_Desc'].touched"><br>Required</span>
        </div><br>
        <div>
            <label for="Due_Date">Due_Date</label>
            <input  type="datetime" class="form-control" name="Due_Date" [ngModel]="Due_Date" required>
            <span class="text-danger" *ngIf="addtaskform.controls['Due_Date'].errors && addtaskform.controls['Due_Date'].touched"><br>Required</span>
            <span class="text-danger" *ngIf="addtaskform.controls['Due_Date'].errors['Date']">Invalid Date</span>
        </div><br>
        <div>
            <label for="Task_Type">Task_Type</label>
            <input  type="text" class="form-control" name="Task_Type" [ngModel]="Task_Type" required>
            <span class="text-danger" *ngIf="addtaskform.controls['Task_Type'].errors && addtaskform.controls['Task_Type'].touched"><br>Required</span>
        </div>
       
    
        <div id="buttons"><button class="btn btn-success" type="submit">Submit</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-danger" (click)="closeEdit()" >cancel</button></div>

        
    </form>
</div>
</div>
